@charset "utf-8";
/* CSS Document */

body {
	width: 700px;
	border:2px solid #E0E0E0;
	padding: 10px;
	padding-left:15px;
	border-radius: 15px;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
}

h1 {
    background: #F0F0F0;
    font-size: 18px;
    padding: 15px 5px 15px 5px;
    border-left: 5px solid #6495ed;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.25);
	margin-left: -5px;
	margin-right: -10px;
}
h2 {
    background: #F0F0F0;
    font-size: 14px;
    padding: 1px 0px 1px 5px;
    border-left: 3px solid #6495ed;
	margin-left: -3px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
}
table {
  border: #CCCCCC solid 2px;
  width: 80%;
  border-collapse:collapse;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.25);
	margin:auto;
}
th {
  background-color: #F0F0F0;
  border: #E0E0E0 solid 1px;
  padding:3px;
}
td {
  border: #F0F0F0 solid 1px;
  padding:2px;
}
